img.inventoryrounded {

    border-style: solid;
    border-color:firebrick;
    border-radius: 10px;
    border-width: 1px;
    background-color: wheat;

}

div.inventoryslots {
    
    margin-top: 10px;
    margin-bottom: 10px;

}

button.loginbutton {

    border-style: thin;
    border-color:darkblue;
    border-radius: 5px;
    border-width: 1px;
    background-color:cornflowerblue;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;

}